.vr {
    border-right: thick solid #250606;
   
}

i {
    color: black;
}

#navbar {
    padding: 0;
}

#logo{
    border-right: 3px solid white;
}

#boton-siguiente-fecha{
    background-color: transparent;
    border: none;
}

#siguiente-fecha{
    border-left: 3px solid white;
    cursor: pointer;
}